.header {
    height:auto;
    text-align: center;
    background-color: #F2B5D4;
    font-size:8em;
    font-family: StayAndShine;
    color:white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-top-right-radius: 260px 80px;
}




#links {
    margin-top:10px;
    margin-left:25px;
    float:right;
     align-items: left;
     position:absolute;
}

 #socialMediaPictures {
    border-radius:37.5px;
     width:75px;
     transition:transform 0.25s ease;
 }

 #socialMediaPictures:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    z-index: 222;
 }

body {
    width:100%;
    background-color: rgb(255, 255, 255);
}

.container-fluid {
    background-color: #F7D6E0;
    min-height:300px;
}

#SMCOL3 {
    max-height:500px;
}

#nvValmis {
    margin-top:-150px;
    position: relative;
}
#SMCOL9 {
    text-align: left;
    padding-top:20px;
    font-size:1.2em;
}

#esittely {
    border-left:1px solid white;
}

#esittelyTeksti {
    padding-left:50px;
}

#myDIV {
    border-radius:200px;
    width: 400px;
    height: 400px;
    background-color:red;
    font-size:10px;
    background-image: url("ympyrä.png");
    
}

#spinning {
    display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom:20px;
  transition-timing-function: ease-in-out;
}

#Manyvids {
    padding-top:20px;
    background-color:#FADDE3;
    text-align: center;
    padding-bottom:40px;
}

#ManyvidsOtsikko {
    font-size:3em;
    font-family: StayAndShine;
    color:white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#nv2 {
    margin-top:-160px;
    margin-left:0px;
}
#SMCOL3Manyvids {
    font-size:1.5em;
}
#ManyVidsPre {
    transition:transform 0.25s ease;
    border-radius: 5px;
}
#ManyVidsPre:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);

}

/*Muut linkit*/

#muut {
    padding-top:40px;
    align-items: center;
    text-align:center;
}

#linkkikortit {
    align-items: center;
    margin: auto;
}

.asd {
    border-radius:200px;
    height:400px;
    background-color: #F2B5D4;
    border:2px  solid white;
    background-image: url("ig2.jpg");
    background-size: cover;
}
.asd:hover {
    border:3px solid white;

}



#asd2 {
    background-image: url("ig.jpg"); 
    background-size: cover;   
}
#asd3 {
    background-image: url("ig1.jpg"); 
    background-size: cover;   
}
#onlyfans {
    text-decoration: none;
    background-color: #B2F7EF;
    width:100%;
    margin-top:175px;
    height:50px;
    padding-top:10px;
    font-size:20px;
    text-align:center;
}

#onlyfans:hover {
    font-weight: bold;
}

/*Yhteystiedot*/

#contact {
    padding-top:20px;
    
}

/*Footer*/

.footer {
    background-color: #B2F7EF;
}



@font-face {
    font-family: StayAndShine;
    src: url("Stay\ and\ Shine.ttf");
  }